@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;700&display=swap');
@import "./pokedex.css";
*{
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}

body{
    background: #f6f8fc
}


@media (min-width: 992px){
    .content{
        max-width: 992px;
        height: auto;
        margin: 1rem auto;
        border-radius: 1rem;
    }
}

@media (min-width: 380px){
    .pokemons{
        grid-template-columns: 1fr 1fr;
    }
}
@media (min-width: 576px){
    .pokemons{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width: 992px){
    .pokemons{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}


